<section class="site-content site-section-mini themed-background-muted border-bottom col-lg-8 marginTop paddingAll">
    <form action="tela2.php" method="post">
        <div class="form-group">
            <label class="col-md-1 control-label" for="nome">Nome</label>
            <div class="col-md-11">
                <input type="text" id="nome" name="nome" class="form-control">
            <span class="help-block">Por favor digite seu nome completo.</span>
            </div>
            <label class="col-md-1 control-label" for="cpf">CPF / CNPJ</label>
            <div class="col-md-11">
                <input type="text" id="cpf" name="cpf" class="form-control">
            <span class="help-block">Por favor digite seu cpf ou cnpj.</span><br>
            </div>
            <label class="col-md-4 control-label paddingTop">Necessidades:</label>
            <span class="help-block col-md-8">Conte-nos quais são as suas Necessidades em relação ao site.</span>
            <div class="col-md-12 blueBorder paddingVertical">
                <div class="col-lg-4">
                    <input type="checkbox" name="sobre" value="sobre"> Sobre (História da empresa) <br>  
                    <input type="checkbox" name="servicos" value="servicos"> Serviços / Produtos  <br>
                    <input type="checkbox" name="contato" value="contato"> Formulário de Contato<br>
                    <input type="checkbox" name="chat" value="chat"> Chat de atendimento  <br>
                </div>
                <div class="col-lg-4">
                    <input type="checkbox" name="mapa" value="mapa"> Mapa   <br>
                    <input type="checkbox" name="banner" value="banner"> Banner   <br>
                    <input type="checkbox" name="video" value="video"> Vídeo<br>
                    <input type="checkbox" name="whatsapp" value="whatsapp"> Botão de Whatsapp   <br>
                </div>
                <div class="col-lg-4">
                    <input type="checkbox" name="blog" value="blog"> Blog / Notícias   <br>
                    <input type="checkbox" name="newsletter" value="newsletter"> Newsletter   <br>
                    <input type="checkbox" name="redes" value="redes"> Integração com redes sociais<br>
                    <input type="checkbox" name="manutencao" value="manutencao"> Manutenção mensal de conteúdo<br>
                </div>
            </div>
            <div class="col-lg-8"></div>
            <div class="col-lg-4 marginVertical">            
                <input type="submit" value="Próximo" class="form-control botaoProximo">
            </div>
        </div>
    </form>
</section>