.selectModelos{
  font-size:18px;
}

.botaoModelos{
  background-color:#fff;
  border-radius: 4px;
  width:20%;
  height: 40px;
  float:right;
}

.botaoModelos:hover{
  transition:0.3s;
  background-color:#d3d3d3;
  color:#fff;
}

.escolha {
  width: 100%;
  text-align: center;
  margin-top:2%;
}

.titulo{
  font-size:18px;
  color:#fff;
}

.titulo:hover{
  transition: 0.5s;
  text-decoration:none;
  font-size:18px;
  color:black;
}

.modelos{
  width:100%;
  background-color:#fff;
  overflow:hidden;
  height:100%px;
  max-height:450px;
  border:1px solid #ccc;
  overflow-y: auto;
}

.verModelos{
  width:100%;
  background-color:#fff;
  overflow:hidden;
  height:100%;
  border:1px solid #ccc;
  overflow-y: auto;
}

.menu{
  padding:2%;
  text-align:center;
}

.menu:hover{
  transition:0.5s;
  background-color:#d3d3d3;
}

.paddingTop2{
  padding-top:1%;
}

.pdf{
  margin:5%;
}

.parabens{
  text-align:center;
}

.subparabens{
  text-align:center;
  padding-bottom:5%;
}

.comecar{
  background-color:#d3d3d3;
  font-size:36px;
  border-style:solid;
  border-radius:5px;
  border-width: 3px;
  border-color:#454E59;
  margin:4%;
  padding:4%;
  color:#454E59;
}

.comecar:hover{
  transition:0.4s;
  background-color:#454E59;
  color:#d3d3d3;
}

.center{
  text-align:center;
}