.paddingAll{
    padding:2%;
}

.paddingVertical{
    padding-top:2%;
    padding-bottom:2%;
}

.paddingTop7{
    padding-top:7%;
}

.paddingTop5{
    padding-top:5%;
}

.paddingTop2{
    padding-top:2%;
}

.paddingTop1{
    padding-top:0px;
}

.paddingBottom5{
    padding-bottom:5%;
}

.marginTop{
    margin-top:3%;
}

.marginTop5{
    margin-top:5%;
}

.marginBottom{
    margin-bottom:2%;
}

.marginBottom5{
    margin-bottom:5%;
}

.marginVertical{
    margin-top:3%;
    margin-bottom:3%;
}

.blueBorder{
    border-style:solid;
    border-width:1px;
    border-radius:4px;
    border-color:#d3d3d3;
}

.botaoProximo:hover{
    background-color:#d3d3d3;
    color:#fff;
}

.jaPossuo{
    background-color:#282D33;
    color:#fff;
    float:left;
}

.jaPossuo:hover{
    transition:0.5s;
    background-color:#d3d3d3;
    color:#282D33;
    text-align:center;
}

.logo{
    text-align:center;
    margin-top:5%;
    padding: 10px;
    background: #d3d3d3; 
    display: table;
    color: #282D33;
}

.logo:hover{
    transition:0.5s;
    padding: 10px;
    background: #282D33; 
    display: table;
    color: #d3d3d3;
    cursor: pointer;
}

input[type="file"] {
    display: none;
}

.icon{
    margin-right:20px;
}

.produtos{
    border-style:solid;
    border-width: 2px;
}

th{
    padding:3%;
}

td{
    padding:3%;
}

.mostraItens{
    max-height: 200px;
    width: 50%;
    word-wrap: break-word;
    overflow:hidden;
    overflow-y: auto;
    overflow-x: auto;
}

.tituloProdutos{
    text-align:center;
}

.radioButton{
    height:25px;
    width:25px;
    vertical-align: middle;
}

.IMGsucesso{
    color:green;
}

.interrogacao{
    cursor:pointer;
}

.center{
    text-align:center;
}

.tabela{
    background-color:#F9F9F9;
    border-top:none;
    border-left:none;
    border-right:none;
}

.red{
    color:red;
}
