<div class="sidebar" data-color="purple" data-background-color="white" data-image="tema/painel/assets/img/sidebar-1.jpg">
    <div class="logo">
      <a href="https://facilita.dom.com.vc/" class="simple-text logo-normal">
        FACILITA
      </a>
    </div>
    <div class="sidebar-wrapper">
      <ul class="nav">
        <li class="nav-item active">
          <a class="nav-link" href="painel.php">
            <i class="material-icons">dashboard</i>
            <p>Painel</p>
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="#">
            <i class="material-icons">person</i>
            <p>Clientes</p>
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="selecionaCliente.php">
            <i class="material-icons">content_paste</i>
            <p>Ver Conteúdos</p>
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="painelModelos.php">
            <i class="material-icons">library_books</i>
            <p>Modelos</p>
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="painelSlides.php">
            <i class="material-icons">bubble_chart</i>
            <p>Imagens - Slider</p>
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="#">
            <i class="material-icons">notifications</i>
            <p>Notificações</p>
          </a>
        </li>
      </ul>
    </div>
  </div>